@import 'reset';
@import 'variables';

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.page--container {
  width: 1160px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

/* HEADER */
header {
  margin: 0 auto;
  margin-top: 35px;
  form {
    position: relative;
    input {
      float: right;
      background-color: $search-bgnd;
      color: $search-text;
      line-height: 38px;
      width: 239px;
      margin: 9px;
      border: 1px solid $search-border;
      font-family: Arial;
      font-size: 12pt;
      padding-left: 13px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
    }
  }
}

.search .submit {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  background: url(../img/search.png) 100% no-repeat;
}

input[type="search"] {
  -webkit-appearance: none;
}

.main-logo {
  float: left;
  margin-left: 4px;
}

.social-network--wrapper {
  float: right;
  width: 145px;
  height: 16px;
  margin-right: 4px;
  margin-top: 10px;
}
.social-network--menu {
  position: relative;
  overflow: hidden;
  li {
    float: left;
    list-style: none;
  }
  a {
    display: block;
    height: 16px;
    width: 16px;
    background: url(../img/sprite.png) 0 0 no-repeat;
    cursor: pointer;
    transition: 0.3s all;
  }
  .facebook {
    width: 9px;
    margin-right: 21px;
    background-position: 0 0;
  }
  .twitter {
    margin-right: 17px;
    background-position: -10px 0;
  }
  .rss {
    margin-right: 17px;
    background-position: -27px 0;
  }
  .linkedin {
    margin-right: 17px;
    background-position: -43px 0;
  }
  .skype {
    background-position: -60px 0;
  }
  .facebook:hover {
    background-position: 0 -16px;
  }
  .twitter:hover {
    background-position: -10px -16px;
  }
  .rss:hover {
    background-position: -27px -16px;
  }
  .linkedin:hover {
    background-position: -43px -16px;
  }
  .skype:hover {
    background-position: -60px -16px;
  }
}

.darkgrey-menu--wrapper {
  background-color: $background-grey;
  width: 100%;
  color: $text-white;
  height: 56px;
  margin-top: 36px;
}
.top-menu {
  display: block;
  li {
    float: left;
    list-style: none;
    padding: 19px 40px;
    border-right: 1px solid $border-grey;
  }
  a {
    color: $text-white;
    text-decoration: none;
    font-family: $font-menu;
    font-size: 14px;
  }
  a:hover{
    color: $text-yellow;
  }
  .top-menu--active {
    background-color: $background-blue;
    border-right: 1px solid $border-grey;
  }
}

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 1160px;
  height: 470px;
  margin-top: 39px;
  img {
    width: 1160px;
    height: 470px;
  }
  ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
  }
}

.banner {
  position: relative;
  .deviz-background1 {
    display: block;
    position: absolute;
    width: 215px;
    height: 197px;
    background-color: $background-lightgrey;
    top: 232px;
    left: 36px;
  }
  .deviz-background2 {
    display: block;
    position: absolute;
    width: 92px;
    height: 90px;
    background-color: $background-lightgrey;
    top: 339px;
    left: 251px;
  }
}
.jcarousel-pagination {
  background-color: transparent;
  position: absolute;
  bottom: 14px;
  left: 543px;
  a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    width: 15px;
    height: 15px;
    background: url(../img/paginaton.png) 0 0 no-repeat;

    &.active {
      background: url(../img/paginaton.png) -16px 0 no-repeat;
    }
  }
}

.target-box {
  position: absolute;
  top: 252px;
  left: 62px;
  z-index: 2;
  li {
    list-style: none;
    font-family: $font-text;
    font-size: 54px;
    line-height: 54px;
    font-weight: 400;
    color: $text-white;
  }
  .yellow-item {
    color: $text-yellow;
  }
}

.white-block__middle {
  position: relative;
  clear: both;
  overflow: hidden;
  display: block;
  width: 1160px;
  height: 337px;
}

.numbered-article {
  display: block;
  height: 177px;
  width: 385px;
  float: left;
  margin-top: 52px;
  .numbered-article--headline {
    margin-top: 12px;
    margin-bottom: 92px;
    font-family: $font-text;
    font-size: 20px;
    color: $text-black;
  }
  .numbered-article--digits {
    display: block;
    font-family: $font-text;
    font-size: 90px;
    color: $text-lightgrey;
    float: left;
    margin: 2px 0 0 -2px;
  }
  .numbered-article--wrapper {
    margin-left: 20px;
    margin-top: 22px;
    float: left;
  }
  .numbered-article--textlink {
    text-decoration: none;
    color: $text-black;
    font-family: $font-text;
    font-size: 13px;
    margin-right: 10px;
    margin-left: -3px;
  }
  .numbered-article--arrowlink {
    text-decoration: none;
    color: $text-blue;
    font-weight: 100;
    font-size: 12px;
    margin-left: -3px;
  }
  .numbered-article--textlink:hover {
    text-decoration: none;
    color: $text-blue;
  }
  .numbered-article--arrowlink:hover {
    color: $text-pink;
  }
}

.numbered-article__02 {
  .numbered-article--digits {
    margin-left: 8px;
  }
  .numbered-article--wrapper {
    margin-left: 27px;
  }
  .numbered-article--arrowlink {
    margin-left: 1px;
  }
}

.numbered-article__03 {
  width: 370px;
  margin-left: 19px;
  .numbered-article--digits {
    padding-left: 10px;
  }
  .numbered-article--icon {
    margin-top: 3px;
  }
  .numbered-article--wrapper {
    margin-left: 23px;
  }
  .numbered-article--headline {
    margin-bottom: 95px;
  }
  .numbered-article--textlink {
    margin-left: -1px;
  }
  .numbered-article--arrowlink {
    margin-left: -5px;
  }
}

/* Middle gray section*/
.darkgrey-block__middle {
  width: 100%;
  height: 500px;
  position: absolute;
  left: 0;
  background-color: $background-grey;
}
.our-services--wrapper {
  position: relative;
  width: 105%;
  height: 500px;
  color: $text-white;
  font-family: $font-text;
}
.our-services--headline {
  margin-top: 46px;
  font-size: 24px;
}

.our-services--article {
  float: left;
  width: 260px;
  height: 311px;
  margin-right: 40px;
  margin-top: 51px;
}
.our-services--text {
  margin-top: 33px;
  text-align: center;
  text-decoration: none;
  display: block;

  color: $text-white;
}
.our-services--pic{
  background-image: url(../img/worker.jpg);
  background-position: -175px 0;
  background-repeat: no-repeat;
  width: 260px;
  height: 260px;
  img {
    display: none;
    position: absolute;
    opacity: 0.8;
  }
}
.our-services--link {
  text-decoration: none;
  color: $text-white;
}
.our-services--article:hover {
  cursor:pointer;
  .our-services--pic{
    img {
      display: block;
    }
  }
  .our-services--text {
    color: $text-yellow;
  }
}

.our-services--pic__02{
  background-image: url(../img/truck.jpg);
  background-position: -110px -4px;
  background-repeat: no-repeat;
  width: 260px;
  height: 260px;
}

.our-services--pic__03{
  background-image: url(../img/pipes.jpg);
  background-position: 0px 0;
  background-repeat: no-repeat;
  width: 260px;
  height: 260px;
}

.our-services--pic__04{
  background-image: url(../img/repear.jpg);
  background-position: -55px 0;
  background-repeat: no-repeat;
  width: 260px;
  height: 260px;
}

/* GARMOSHKA */
.darkwhite-block__middle {
  width: 100%;
  height: 542px;
  position: absolute;
  left: 0;
  top: 1512px;
  background-color: $background-darkwhite;
}
.garmoshka--wrapper {
  width: 100%;
  position: relative;
  height: 500px;
}
.news--wrapper {
  width: 559px;
  margin-top: 15px;
  float: left;
}

.news--headline {
  font-size: 24px;
}
.news-block {
  margin-top: 45px;

}
.news-block--pic {
  background-image: url(../img/news1.jpg);
  background-position: -115px 0;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position: relative;
  float: left;
  margin-right: 31px;
  .news-block--month, .news-block--date {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .news-block--month {
    background-color: $background-blue;
    color: $text-white;
    top: 11px;
    left: -16px;
  }
    .news-block--date {
    background-color: $text-yellow;
    color: $text-black;
    text-align: center;
    top: 51px;
    left: -16px;
  }
}
.news--article {
  font-family: $font-text-2;
  color: $text-light;
  font-size: 13px;
  .news-block--headline {
    font-family: $font-text;
    font-size: 16px;
    margin-left: 3px;
    color: $text-black;
    margin-top: 6px;
    text-decoration: none;
  }
  .news-block--headline:hover {
    color: $text-blue;
  }
  .news-block--subheading {
    margin-top: 10px;
    .news-block--author {
      margin-left: 1px;
    }
    a {
      text-decoration: none;
      color: $link-blue;
      margin: 0 -3px 0 -3px;
    }
    .news-block--comments {
      margin-left: 13px;
    }
  }
  .news-block--paragraph {
    margin-top: 25px;
    line-height: 20px;
  }
}

.news-block--2 {
  margin-top: 30px;
  .news-block--pic {
    background-image: url(../img/news2.jpg);
    background-position: 0 0;
  }
}
/* BANNER PLACE*/
.banner--wrapper {
  margin-top: 15px;
  float: right;
  width: 559px;
}
#accordion {
  margin-top: 42px;
}

.ui-accordion {
  .ui-accordion-content {
    padding: 20px 0.5em 2em 2.5em;
    p {
      font-family: Arial;
      font-size: 13px;
      line-height: 20px;
    }
  }
  .ui-accordion-header {
    line-height: 2em;
    margin: 6px 0 4px 0;
  }
  .ui-accordion-icons {
  	padding-left: 4em;
  }
}

/* Partners */
.partners--wrapper {
  margin-top: 85px;
  height: 154px;
  ul {
    li {
      float: left;
      list-style: none;
      margin-right: 46px;
    }
  }
  .partners-menu__item2 {
    margin-right: 64px;
  }
  .partners-menu__item3 {
    margin-right: 47px;
  }
  .partners-menu__item4 {
    margin-right: 59px;
    margin-top: 2px;
  }
  .partners-menu__item5 {
    margin-right: 36px;
    margin-top: 2px;
  }
  .partners-menu__item6 {
    margin-right: 0;
  }
}

/* FOOTER */
.darkgrey-block__bottom {
  width: 100%;
  background-color: $background-grey;
  position: absolute;
  left: 0;
  height: 325px;
}
footer {
  color: $text-white;
  width: 100%;
  position: relative;
  height: 325px
}
.bottom-menu--wrapper {
  float: left;
  width: 258px;
  margin-right: 40px;
}
.bottom-menu--wrapper__last {
  margin-right: 0;
}
.bottom-menu--headline {
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 34px;
}
.bottom-menu--items {
  list-style: none;
  .bottom-menu--item {
    line-height: 35px;
    font-family: $font-text-2;
    font-size: 13px;
    border-bottom: 1px solid $border-darkgrey;
  }
  .bottom-menu--item__4 {
    border-bottom: none;
  }
  a {
    color: $link-darkgrey;
    text-decoration: none;
  }
  a:hover {
    color: $link-blue;
  }
}

.grey-block__bottom {
  width: 100%;
  background-color: $search-bgnd;
  position: absolute;
  left: 0;
  height: 58px;
}
.contacts-block {
  position: relative;
  font-family: $font-text-2;
  font-size: 13px;
  color: $text-middlegrey;
  line-height: 58px;
  li {
    float: left;
  }
  p {
    display: block;
    float: left;
  }
  img {
    margin-top: 20px;
    float: left;
    margin-right: 14px;
    margin-left: 10px;
  }
}
.contacts-menu--items {
  list-style: none;
  float: left;
}
.contacts-menu--item1 {
  img {
    margin-left: 0px;
    margin-top: 22px;
  }
  p {
    margin-left: -3px;
    font-weight: 100;
    letter-spacing: -0.4px;
  }
}
.contacts-menu--item2 {
  img {
    margin-left: 32px;
    margin-top: 22px;
  }
  p {
    margin-left: -5px;
    font-weight: 100;
    letter-spacing: -0.6px;
  }
}

.contacts-menu--item3 {
  img {
    margin-left: 40px;
    margin-top: 24px;
  }
  p {
    margin-left: 0px;
    font-weight: 100;
    letter-spacing: -0.6px;
  }
}

#copyright {
  float: right;
  margin-right: 4px;
  letter-spacing: -0.6px;
}
