$font-stack:       Ubuntu, "Ubuntu Condensed", "Ubuntu Mono", Arial, sans-serif;
$font-menu:        "Ubuntu Condensed";
$font-text:        Ubuntu;
$font-text-2:      Arial;

$primary-color:    #333;
$green:            green;

$background-grey:  #2a2d32;
$background-blue:  #248cec;
$background-lightgrey: rgba(37,44,47,0.9);
$background-darkwhite: #f7f7f7;

$search-bgnd:      #35383c;
$search-text:      #535659;
$search-border:    #181a1d;

$text-white:       #fff;
$text-yellow:      #f4b60d;
$text-lightgrey:   #e9e9ea;
$text-black:       #2a2b2e;
$text-blue:        #248cec;
$text-pink:        #989fb3;
$text-light:       #9d9d9d;
$text-middlegrey:  #727477;

$link-blue:        #0187f4;
$link-darkgrey:    #6a6c70;

$border-grey:      #181a1d;
$border-darkgrey:  #393c40;
