/************************************************************************************
min-width 960 and more, design 960
*************************************************************************************/
@media (min-width: 960px) {

  .mix-container {
		max-width: 960px;
	}

  .background-wrapper {
    background-position: 50% 0px;
  }


  /* HEADER */
  .page-header {
    padding-top: 1px;
    height: 278px;
  }
  .page-header:after {
   content: "";
   display: table;
   clear: both;
  }
  .page-header__logo-wrapper {
    margin-bottom: 31px;
    text-align: left;
    padding-left: 0px;
    float: left;
  }
  .menu {
    float: right;
    padding-left: 12px;
    margin-bottom: 81px;
    margin-top: 74px;
  }
  .menu__link {
    display: inline-block;
    color: white;
    font-family: "League Gothic";
    font-size: 24px;
    font-weight: 400;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 48px;
  }
  .menu__link:last-child {
    margin-right: 0;
  }
  .menu__link--active .menu__item-underline {
    border-bottom: 2px solid #edbfff;
  }
  .menu__item-underline {
    padding: 0 6px;
  }
  .menu__item-underline:last-child {
    padding: 0 0px;
  }

  /* UPPER SLIDER */
  .upper-slider__item-bg {
    background-color: rgba(0, 0, 0, .2);
  }
  .upper-slider__item-wrapper {
    padding-top: 79px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 425px;
    height: 400px;
  }
  .upper-slider__item-header {
    color: #fefefe;
    font-family: "League Gothic";
    font-size: 58px;
    font-weight: 400;
    margin-bottom: 2px;
    margin-left: 0;
  }
  .upper-slider__item-subheader {
    color: #edbfff;
    font-family: "League Gothic";
    font-size: 32px;
    font-weight: 400;
    height: 28px;
    overflow: hidden;
    margin-bottom: 9px;
    margin-left: 0;
  }
  .upper-slider__item-descr {
    display: block;
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    height: 250px;
    overflow: hidden;
    line-height: 24px;
  }
  .upper-slider__button-left {
    top: 0px;
    bottom: 0;
    left: -40px;
  }
  .upper-slider__button-right {
    top: 0px;
    bottom: 0px;
    right: 35px;
  }
  .upper-slider__item-img {
    display: block;
    position: absolute;
    top: -16px;
    right: 71px;
  }
  .radio-wrapper{
    height: 169px;
    padding-top: 97px;
  }

  /* ABOUT STORY */
  .about-story {
    padding-top: 75px;
    padding-bottom: 64px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-story__wrapper {
    margin-bottom: 2px;
  }
  .about-story__item {
    width: 30%; /*288px / 960 */
    padding-left: 61px;
    float:left;
    margin-right: 5%;  /*48px / 960 */
    margin-bottom: 0;
  }
  .about-story__item:last-child{
    margin-right: 0px;
  }
  .about-story__item--fixed-n1 {
    width: 29.6875%;
    margin-right: 5.625%;
  }
  .about-story__item--fixed-n2 {
    width: 29.6875%;
    margin-right: 5.3125%;
  }
  .about-story__item--fixed-n3 {
    width: 29.6875%;
  }
  .about-story__item-header {
    font-size: 29px;
    padding-left: 4px;
    margin-bottom: 8px;
  }
  .about-story__item-descr {
    max-height: 122px;
    width: auto;
  }
  .about-story__item-link {
    margin-right: 5px;
    padding-top: 9px;
  }
  .about-story__item-icon {
    top: 7px;
    left: 10px;
  }


  /* LOWER SLIDER*/
  .reviews {
    padding: 33px 20px 0px 0px;
  }
  .reviews__wrapper {
    margin: 0 auto 10px;
    max-width: 960px;
    margin-bottom: 2px;
  }
  .reviews__wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
  .lower-slider {
    width: 50%;
    float: left;
    padding-left: 6px;
    padding-right: 19px;
    padding-top: 68px;
  }
  .lower-slider__item {
    padding-left: 39px;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
  }
  .lower-slider__item:after {
    background-image: url(../img/baloon.png);
    content:'';
    width: 22px;
    height: 20px;
    position: absolute;
    bottom: -18px;
    right: 44px;
  }
  .lower-slider__item-header {
    font-size: 30px;
    display: inline;
  }
  .lower-slider__item-text {
    margin-top: 12px;
  }
  .radio-wrapper--white {
    margin-bottom: 10px;
    padding-top: 23px;
  }
  .lower-slider__iteem-userpic {
    position: absolute;
    top: 17px;
    left: -23px;
  }
/* UPDATES */
  .updates {
    width: 37%;
    float: left;
    margin-top: 93px;
    margin-right: 0px;
    margin-left: 47px;
  }
  .updates__header {
    margin-left: -8px;
    margin-bottom: 17px;
  }
  .updates__item {
    margin-bottom: 18px;
    padding-left: 58px;
  }
  .updates__item-header, .updates__item-descr {
    font-family: "League Gothic";
    font-size: 16px;
  }

  .updates__item-image {
    top: 0px;
    left: -7px;
  }
  .updates__more-link-container {
    text-align: right;
    margin-top: -3px;
    margin-right: -76px;
  }
  .updates__more-link {
    position: static;
  }


  /* LOGOS */
  .logos {
    width: 100%;
  }
  .logos__wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding-top: 25px;
    padding-bottom: 15px;
    padding: 25px 72px 15px;
  }
  .logos__image-wrapper {
    width: 16.6%;
    margin-bottom: 15px;
  }


  /* NEWS */
  .news {
    display: block;
    background-color: #ececec;
    border-top: 1px solid #d8d8d8;
  }
  .news__wrapper {
    padding: 95px 0px 35px;
  }
  .news__wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
  .news__description {
    display: block;
    width: 29.6875%;
    float: left;
    margin-right: 5.72916666666667%;
  }
  .news__description-header {
    color: #454545;
    font-family: "League Gothic";
    font-size: 48px;
    font-weight: 400;
    margin-top: -2px;
    margin-bottom: 13px;
    text-shadow: 0 1px 0 white;
  }
  .news__colored-description {
    color: #b9b9b9;
    font-family: "League Gothic";
    font-size: 48px;
    font-weight: 400;
    text-shadow: 0 1px 0 white;
  }
  .news__description-copyright {
    color: #c5c5c5;
    font-family: Georgia, "Times New Roman";
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 0.5px 0.9px 0 white;
  }
  .news__description-text {
    color: #787878;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 0.5px 0.9px 0 white;
  }
  .news__comments {
    display: block;
    width: 29.6875%;
    float: left;
    margin-right: 5.20833333333333%;
  }
  .news__comments-header {
    color: #454545;
    font-family: "League Gothic";
    font-size: 30px;
    font-weight: 400;
    text-shadow: 0.5px 0.9px 0 white;
    margin-bottom: 8px;
    display: block;
  }
  .news__comments-text {
    color: #787878;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 0.5px 0.9px 0 white;
    height: 170px;
    overflow: hidden;
    margin-bottom: 60px;
    padding-right: 30px;
  }
  .news__categories {
    width: 29.6875%;
    float: left;
    margin-right: 0;
  }
  .news__categories-header {
    color: #454545;
    font-family: "League Gothic";
    font-size: 30px;
    font-weight: 400;
    text-shadow: 0.5px 0.9px 0 white;
    margin-bottom: 10px;
    display: block;
  }
  .news__categories-text {
    font-family: "Open Sans";
    color: #787878;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 0.5px 0.9px 0 white;
    height: 170px;
    overflow: hidden;
    margin-bottom: 60px;
    padding-right: 30px;
  }
  .nodisplay-from968 {
    display: none;
  }


/* FOOTER */
  .footer {
    padding-top: 0px;
    height: 112px;
  }

  .footer__menu {
    padding-top: 38px;
    padding-bottom: 19px;
    float: left;
    display: block;
  }
  .footer__menu-item {
    color: white;
    font-family: "League Gothic";
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    margin-right: 39px;
  }
  .footer__copyright {
    font-family: "League Gothic";
    float: right;
    margin-top: 42px;
    margin-right: -2px;
  }
  .footer__copyright--company {
    margin-top: 0px;
  }
}
