// colors
$black:        black;
$white:        #fff;
$red:          #ff4e50;
$darktext:     #333333;
$grey:         #cccccc;

// fonts
$bold:         bold 14px Montserrat;
$regular:      normal 10px Montserrat;
$light:        14px Roboto;
