.top-menu__items--7 {
  background-color: #687778;
}

#owl-demo {
  width: 800px;
  height: 150px;
}
#owl-demo img {
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.owl-controls {
  position: relative;
  top: -50px;
}

/*article {
  width: 800px;
  margin-top: 0;
}*/
