.top-menu__items--1 {
  background-color: #687778;
}

#owl-demo {
  width: 770px;
  height: 291px;
}
#owl-demo img {
  /*width: 770px;
  height: 150px;*/
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.owl-controls {
  position: relative;
  top: -50px;
}
