* {
  margin: 0;
  padding: 0;
}

.page-wrapper{
  width: 90%;
  margin: 0 auto;
}

.top-menu--wrapper {
  background-color: #2975ff;
  width: 100%;
  color: white;
  height: 56px;
  margin-top: 36px;
}
.top-menu {
  list-style: none;
  line-height: 56px;
  font-family: Ubuntu;
  font-weight: 800;
  font-size: 15px;
}
.top-menu--items {
  float: left;
  /*margin-right: 20px;*/
  padding-left: 25px;
  padding-right: 25px;
}

.top-menu--items__1 {
  background-color: #413f3f;
}

.top-menu--items a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.top-menu--items a:hover {
  color: #f2f247;
}
