* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  /*font-family: Ubuntu, sans-serif;*/
  /*font-family: "Open Sans", sans-serif*/
  /*font-family: 'Fira Mono', monospace;*/
  height: 100%;
}

.page-wrapper{
  width: 791px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content-wrapper {
  flex: 1 0 auto;
  padding: 0 10px 10px 10px;
  box-shadow: 0 2px 12px 1px rgba(0,0,0,0.4);
}

.clearfix:after {
  content: '';
  clear: both;
  display: block; }

/* HEADER */
header {
}
/*.header_top {
  height: 25px;
  line-height: 25px;
  width: 100%;
  background-color: #7c8d8e;
}*/
.logo {
  width: 111px;
  height: 141px;
  /*margin-left: 10px;*/
  margin-top: 10px;
  float: left;
}

.logo-text {
}

header p {
  /*position: relative;*/
  /*font-family: Ubuntu;*/
  font-weight: 600;
  font-size: 20px;
  /*top: 20px;*/
  /*width: 400px;*/
  /*margin: 0 auto;*/
  text-align: center;
  color: #413f3f;
  line-height: 50px;
}

p {
  /*font-family: Ubuntu;*/
}

/* MAIN MENU */

nav
{
  background-color: #119087;
  width: 100%;
  color: white;
  height: 52px;
  margin-top: 1px;
}

nav ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

nav ul a
{
	display:block;
  color: white;
	text-decoration:none;
	font-weight:400;
	line-height:32px;
	padding:10px 10px;
  font-size: 15px;
}

nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

nav ul li.current-menu-item
{
  /*background-color: #119087;*/
  /*background-color: #7c8d8e;*/
}

nav ul li:hover
{
  background-color: #413f3f;
  /*background-color: #7c8d8e;*/
}

nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
  background-color: #119087;
  opacity: 0.95;
	padding:0;
}

nav ul ul li
{
	float:none;
}

nav ul ul a
{
	line-height:120%;
	padding:10px 15px
}

nav ul ul ul
{
	top:0;
	left:100%;
  /*width: 400px;*/
}

nav ul li:hover > ul
{
	display:inline-block;
  white-space: nowrap;
}



/* CONTENT */
article {
  /*width: 90%;*/
  margin: 0 auto;
  margin-top: 25px;
}

.phone-logo {
  width: 20px;
  height: 20px;
  float: left;
}

/* FOOTER */
footer {
  background-color: #7c8d8e;
  color: white;
  margin-top: 20px;
  /*margin-bottom: 2px;*/
  line-height: 30px;
  height: 30px;
  flex: 0 0 auto;
}

footer p {
  text-align: right;
  font-size: 10px;
}
footer a {
  color: white;
}

.socials-logo {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  padding: 0 10px 0 5px;
}
